
.panel-2col { 
/*  overflow: hidden;  */
}


.panel-2col .panel-col-first { 
  float: left; 
  width: 37%;
}
* html .panel-2col .panel-col-first {
  width: 34.9%;
}

.panel-2col .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col .panel-col-last { 
  float: left; 
  width: 60%;
}
* html .panel-2col .panel-col-last {
  width: 59.9%;
}

.panel-2col .panel-col-last .inside { 
  margin: 1em 0 1em .5em;
}

.field-name-body .field-item.even > p {
 font-weight: 650;
 font-size: 30px ;  
 margin: .25em; 
}

.white-fields-box {
 padding: 0px 10px;
 border: 1px solid #DEDEDE;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 margin-top: 54px;
}
.field-name-field--sua-headin .field-item.even > p {
 padding: 20px 10px 10px 10px;
 text-align: center;
 font-size: 45px;
 color: #007996;
}

.mediaelement-audio {
 width: 50%;
 margin: 10px auto 40px; 
}


#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}
