
.silent-unity-audio--node {
/*  overflow: hidden;  */
}

.silent-unity-audio--node .panel-col-first {
  float: left;
  width: 50%;
}
* html .silent-unity-audio--node .panel-col-first {
  width: 49.9%;
}

.silent-unity-audio--node .panel-col-first .inside {
  margin: 10em .5em 1em 0;
}

* html .silent-unity-audio--node .panel-col-last {
  float: left; 
  width: 49.9%;
}
* html .silent-unity-audio--node .panel-col-last {
  width: 49.9%;
}

.silent-unity-audio--node .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.silent-unity-audio--node .panel-separator {
  margin: 0 0 1em 0;
}
